use flake github:jkorinth/devenvs/dev#zephyr41

export ZEPHYR_TOOLCHAIN_VARIANT=zephyr
export ZEPHYR_SDK_INSTALL_DIR=$(nix build --impure --no-link --print-out-paths --expr '(builtins.getFlake "github:nix-community/zephyr-nix").packages.x86_64-linux.sdk-0_17.override { targets = [ "arm-zephyr-eabi" ]; }')
