#define ZMK_POINTING_DEFAULT_SCRL_VAL 		100
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    combos {
        compatible = "zmk,combos";
        timeout-ms = <15>;

        combo_tilde {
            key-positions = <1 0>;
            bindings = <&kp TILDE>;
        };

        combo_lparen {
            key-positions = <3 2>;
            bindings = <&kp LPAR>;
        };

        combo_div {
            key-positions = <3 4>;
            bindings = <&kp FSLH>;
        };

        combo_mul {
            key-positions = <6 5>;
            bindings = <&kp ASTERISK>;
        };

        combo_rparen {
            key-positions = <7 6>;
            bindings = <&kp RPAR>;
        };

        combo_eq {
            key-positions = <8 7>;
            bindings = <&kp EQUAL>;
        };

        combo_bslh {
            key-positions = <30 31>;
            bindings = <&kp BSLH>;
        };

        // row 2

        combo_lbrace {
            key-positions = <12 13>;
            bindings = <&kp LBRC>;
        };

        combo_minus {
            key-positions = <14 13>;
            bindings = <&kp MINUS>;
        };

        combo_plus {
            key-positions = <15 16>;
            bindings = <&kp PLUS>;
        };

        combo_rbrace {
            key-positions = <16 17>;
            bindings = <&kp RBRC>;
        };

        combo_amps {
            key-positions = <17 18>;
            bindings = <&kp AMPS>;
        };

        combo_bktk {
            key-positions = <17 18 19>;
            bindings = <&kp GRAVE>;
        };

        // row 3

        combo_lbracket {
            key-positions = <22 23>;
            bindings = <&kp LBKT>;
        };

        combo_excl {
            key-positions = <23 24>;
            bindings = <&kp EXCL>;
        };

        combo_pipe {
            key-positions = <27 28>;
            bindings = <&kp PIPE>;
        };

        combo_rbracket {
            key-positions = <28 29>;
            bindings = <&kp RBKT>;
        };

        combo_ul {
            key-positions = <29 30>;
            bindings = <&kp UNDER>;
        };

        // home row mods

        combo_lshft {
            key-positions = <10 12>;
            bindings = <&ht_sticky LSHFT LSHFT>;
        };

        combo_rshft {
            key-positions = <17 19>;
            bindings = <&ht_sticky RSHFT RSHFT>;
        };

        combo_lctrl {
            key-positions = <11 13>;
            bindings = <&ht_sticky LCTRL LCTRL>;
        };

        combo_rctrl {
            key-positions = <16 18>;
            bindings = <&ht_sticky RCTRL RCTRL>;
        };

        combo_lgui {
            key-positions = <20 23>;
            bindings = <&ht_sticky LGUI LGUI>;
        };

        combo_rgui {
            key-positions = <28 31>;
            bindings = <&ht_sticky RGUI RGUI>;
        };

        combo_lalt {
            key-positions = <10 13>;
            bindings = <&ht_sticky LALT LALT>;
        };

        combo_ralt {
            key-positions = <16 19>;
            bindings = <&ht_sticky RALT RALT>;
        };

        combo_bkspc {
            key-positions = <16 17 18>;
            bindings = <&kp BSPC>;
        };

        combo_sqt {
            key-positions = <18 19>;
            bindings = <&kp SQT>;
        };

        combo_esc {
            bindings = <&kp ESC>;
            key-positions = <11 12 13>;
        };

        combo_tab {
            bindings = <&kp TAB>;
            key-positions = <10 11 12>;
        };
    };

    td_caps: td_caps {
        compatible = "zmk,behavior-tap-dance";
        #binding-cells = <0>;
        tapping-term-ms = <250>;
        bindings = <&kp Z>, <&caps_word>;
    };

    ht_sticky: ht_sticky {
        compatible = "zmk,behavior-hold-tap";
        bindings = <&kp>, <&sk>;

        #binding-cells = <2>;
        tapping-term-ms = <175>;
        flavor = "balanced";
    };

    td_flayer: td_flayer {
        compatible = "zmk,behavior-tap-dance";
        #binding-cells = <0>;
        bindings = <&mo 1>, <&tog 2>;
    };

    behaviors {
	    msc_vrt: msc_vrt {
		    compatible = "zmk,behavior-sensor-rotate";
		    #sensor-binding-cells = <0>;
		    bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;
		    tap-ms = <25>;
	    };
	    msc_hrz: msc_hrz {
		    compatible = "zmk,behavior-sensor-rotate";
		    #sensor-binding-cells = <0>;
		    bindings = <&msc SCRL_LEFT>, <&msc SCRL_RIGHT>;
		    tap-ms = <25>;
	    };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&mt N1 Q  &mt N2 W        &mt N3 E   &mt N4 R  &mt N5 T                                      &mt N6 Y    &mt N7 U  &mt N8 I   &mt N9 O    &mt N0 P
&kp A     &kp S           &kp D      &kp F     &kp G                                         &kp H       &kp J     &kp K      &kp L       &kp SEMI
&td_caps  &kp X           &kp C      &kp V     &kp B     &kp HOME                 &kp END    &kp N       &kp M     &kp COMMA  &kp DOT     &kp FSLH

                                               &mo 1     &kp SPACE                &kp ENTER  &td_flayer
          &kp UP                                                                                                              &kp UP
&kp LEFT  &bt BT_CLR_ALL  &kp RIGHT                                                                                &kp LEFT   &kp K_MUTE  &kp RIGHT
          &kp DOWN                                                                                                            &kp DOWN
            >;

            sensor-bindings = <&msc_hrz &msc_vrt>;
        };

        numbers_layer {
            bindings = <
&kp N1  &kp N2          &kp N3          &kp N4           &kp N5                                   &kp N6  &kp N7    &kp N8          &kp N9          &kp N0
&none   &mmv MOVE_LEFT  &mmv MOVE_UP    &mmv MOVE_RIGHT  &kp PG_UP                                &none   &kp LEFT  &kp UP          &kp RIGHT       &none
&none   &mkp RCLK       &mmv MOVE_DOWN  &mkp LCLK        &kp PG_DN  &trans                &trans  &none   &none     &kp DOWN        &none           &none

                                                         &trans     &trans                &trans  &tog 2
        &trans                                                                                                                      &mmv MOVE_UP
&trans  &trans          &trans                                                                                      &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT
        &trans                                                                                                                      &mmv MOVE_DOWN
            >;

            sensor-bindings = <&msc_hrz &msc_vrt>;
        };

        f_layer {
            bindings = <
&mt F11 F1  &mt F12 F2  &kp F3  &kp F4  &kp F5                                                  &kp F6  &kp F7  &kp F8  &kp F9  &kp F10
&trans      &trans      &trans  &trans  &trans                                                  &trans  &trans  &trans  &trans  &trans
&trans      &trans      &trans  &trans  &trans  &rgb_ug RGB_TOG                &rgb_ug RGB_EFF  &trans  &trans  &trans  &trans  &trans

                                        &trans  &trans                         &trans           &trans
            &trans                                                                                                      &trans
&trans      &trans      &trans                                                                                  &trans  &trans  &trans
            &trans                                                                                                      &trans
            >;

            //sensor-bindings = <&rgb_hue &rgb_sat>;
            sensor-bindings = <&inc_dec_kp N9 N0>, <&inc_dec_kp X Y>;
        };
    };
};

&mt {
    tapping-term-ms = <300>;
    flavor = "tap-preferred";
};

&sk { release-after-ms = <5000>; };
